body, html {
    height: 100%;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    
    
  
    background-image: url("kutya4.png");
    
   
  
   
    height: 100%;
  
   

    background-repeat: repeat;
    background-size: cover;
    

  }
  
  
 
  .bg-text {
    background-color: rgba(0, 0, 0, 0.847); 
    background-color: rgba(70, 45, 31, 0.821); 
    color: white;
    font-weight:bolder;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 77%;
    padding: 17px;
    font-size: 19.5px;
  }
  .kuty{
    text-align: center;
  }

  .gomb{
    position: absolute;
    buttom: -10px;
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color:#63320ccd;
    width: 120px;
    padding: 22px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.gomb:hover, .gomb:focus, .gomb:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
      
    
